.bg {
    /* background-image: url(../img/background.); */
    background-color: #1e1e1e;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.text-title {
    font-size: 3.2em;
}

