.bg {
    /* background-image: url(../img/background.); */
    background-color: #1e1e1e;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.text-title {
    font-size: 3.2em;
}

.bg-touch{
        background-image: url(../img/background2.png);
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: contain;
}

i.fas,
i.fab {
  color: #444444;
}

.min-vh-about{
    min-height: 75vh;
}